/* Header */

nav{
  justify-content: space-around;
}

header .btn{
  background-color: #4a4a4a;
  padding: 4px 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

/* Main */

.grid{
  width: 95%;
  justify-content: center;
  flex-wrap: wrap;
}

.grid .grid-cell{
  width: 300px;
}