/* Header */

nav{
  justify-content: space-around;
}

header .btn{
  background-color: #4a4a4a;
  padding: 4px 5px;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

/* Main */

main .grid-cell{
  width: 244px;
  margin: 6px 3px;
  position: relative;
}

.grid-cell img{
  width: 100%;
}

.grid-cell p{
  position: absolute;
  bottom: 3px;
  left: 0;
  background-color: rgba(74, 74, 74, .8);
  padding: 5px;
  cursor: pointer;
}

/* Footer */

footer li{
  flex-direction: row;
  text-align: center;
  margin-right: 20px;
}

footer li i{
  font-size: 29px;
  margin-bottom: 7px;
}


footer li.active i{
  color: #4bc800;
}

footer li .fa-chevron-up{
  font-size: 10px;
}

footer .btn-left{
  margin-right: 20px;
}

.footer-right{
  background-color: #4a4a4a;
  color: red;
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}